* {
    font-family: 'Poppins';

}

.navbar {
    display: flex;
    height: 30vh;

}

.navbar-container-1 {

    margin-left: 4vh;
}

.navbar-container-2 {
    display: flex;
    flex-direction: column;
    margin-left: 53vh;
    flex: 1;

}

.hero-section-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

img {
    height: 70vh;
}

.designation {
    writing-mode: vertical-lr;
}

.img-and-designation {
    display: flex;
    flex-shrink: 1;
    justify-content: center;


}

.container-2 {
    padding-top: 20vh;

}

@media only screen and (max-width:320px) {
    * {
        font-family: 'Poppins';
        font-size: 2vh;

    }


    .main-container {
        width: 54vh;
        /* border: solid; */
    }

    .navbar {

        display: flex;
        flex-direction: column;

        width: 39vh;
        height: 30vh;
    }

    .navbar-container-1 {
        margin-left: 2vh;
        font-size: 1vh;
    }

    .navbar-container-2 {
        display: flex;
        flex-direction: column;
        margin-left: 2vh;
        font-size: 2vh;
        overflow-wrap: break-word;
    }

    img {
        height: 18vh;
    }

    .hero-section-container {
        width: 53vh;
        display: flex;
        /* border: solid; */

    }

    .img-and-designation {
        display: flex;
        flex-wrap: wrap;
    }

    .container-2 {
        margin-top: -13vh;
    }

    #third-image {
        margin-top: -5vh;
    }

    #fifth-image {
        margin-top: -25vh;
    }

}

@media (min-width:321px) and (max-width:375px) {
    .main-container {
        width: 64vh;
        /* border: solid; */

    }

    .navbar {
        display: flex;
        flex-direction: column;
        width: 49vh;
        height: 30vh;
    }

    .navbar-container-1 {
        margin-left: 2vh;
        font-size: 1vh;
    }

    .navbar-container-2 {
        display: flex;
        flex-direction: column;
        margin-left: 2vh;
        font-size: 2vh;
        overflow-wrap: break-word;


    }

    img {
        height: 18vh;
    }

    .hero-section-container {
        /* border: solid; */
        width: 63vh;
        display: flex;
    }

    .img-and-designation {
        display: flex;
        flex-wrap: wrap;


    }

    .container-2 {
        margin-top: -13vh;

    }

    #third-image {
        margin-top: -5vh;
    }

    #fifth-image {
        margin-top: -25vh;
    }

}

@media (min-width:376px) and (max-width:425px) {

    .main-container {
        /* border: solid; */
        width: 73vh;

    }

    .navbar {

        display: flex;
        flex-direction: column;
        /* border: solid; */
        width: 56vh;
        height: 30vh;
    }

    .navbar-container-1 {

        margin-left: 2vh;

        font-size: 2vh;
    }

    .navbar-container-2 {
        display: flex;
        flex-direction: column;
        margin-left: 2vh;
        font-size: 2vh;
        overflow-wrap: break-word;

    }

    img {
        height: 25vh;

    }

    .hero-section-container {
        /* border: solid; */
        margin-top: 4vh;
        width: 71vh;
        display: flex;

    }

    .img-and-designation {
        display: flex;
        flex-wrap: wrap;
        flex-direction: flex-end;


    }

    .container-2 {
        margin-top: -13vh;

    }

    #third-image {
        margin-top: -5vh;
    }

    #fifth-image {
        margin-top: -25vh;
    }

}

@media (min-width:426px) and (max-width:768px) {
    .navbar {
        display: flex;
        height: 30vh;
    }

    .navbar-container-1 {

        margin-left: 4vh;
    }

    .navbar-container-2 {
        display: flex;
        flex-direction: column;
        margin-left: 20vh;

    }

    .hero-section-container {

        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 4vh;
    }

    img {
        height: 40vh;
    }

    .designation {
        writing-mode: vertical-lr;
    }

    .img-and-designation {
        display: flex;
        flex-shrink: 1;
        justify-content: center;

    }




    .container-2 {

        padding-top: 20vh;

    }
}



@media screen and (min-width:769px) and (max-width:1024px) {

    .navbar {
        display: flex;
        height: 30vh;
    }

    .navbar-container-1 {

        margin-left: 4vh;
    }

    .navbar-container-2 {
        display: flex;
        flex-direction: column;
        margin-left: 20vh;


    }

    .hero-section-container {

        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    img {
        height: 50vh;
    }

    .designation {
        writing-mode: vertical-lr;
    }

    .img-and-designation {
        display: flex;
        flex-shrink: 1;
        justify-content: center;


    }

    .container-2 {

        padding-top: 20vh;

    }
}




/* @media screen and (min-width:1025px) and (max-width:1800px) { } */